<div class="container-fluid">
	<br><br><br>
	<div class="alert alert-success" role="alert">
		<h2 style="text-align: center;"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Thank you for using the AOM Fellows Voting App!</h2>
		<h3 style="text-align: center;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Your submission has been succesfully recorded.</h3>
	</div>
	<br><br><br>
</div>
