<div class="alert alert-success" role="alert">
	<p id="notice"><%= notice %></p>
</div>

<div class="container-fluid" align="justify">
	<div class="row">
		<div class="col-md-6">
			<p>
				<strong>Member's Mail:</strong>
				<%= @member.mail %>
			</p>
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-2">
			<%= link_to 'Edit', edit_member_path(@member), class: "btn btn-primary btn-sm", style: "color: white; align:right;" %>
		</div>
	</div>
	<br>
	<%= link_to 'Back', members_path %>
</div>




