<h2 id="title"> Succesful Reboot </h2>

<div class="alert alert-success" role="alert">
	  <h3 style="text-align: center;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3>
	  <p class="lead" style="padding: 20px; text-align: justify;"> The AOM Voting App was succesfully rebooted. All nominees have been deleted from the database and the app is ready for a new voting process</p>
	  <p style="text-align: center;"> Number of nominees: <%= Nominee.count %>
</div>


